Xml/Schema/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserInterfacePackage" nillable="true" type="AssetCollection" />
  <xs:complexType name="AssetCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Controls" type="ArrayOfChoice1" />
      <xs:element minOccurs="0" maxOccurs="1" name="SelectableGroups" type="ArrayOfSelectableGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice1">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="CircularLayout" nillable="true" type="CircularLayout" />
      <xs:element minOccurs="1" maxOccurs="1" name="LayoutableText" nillable="true" type="LayoutableText" />
      <xs:element minOccurs="1" maxOccurs="1" name="SimpleLayout" nillable="true" type="SimpleLayout" />
      <xs:element minOccurs="1" maxOccurs="1" name="LayoutableSprite" nillable="true" type="LayoutableSprite" />
      <xs:element minOccurs="1" maxOccurs="1" name="Button" nillable="true" type="Button" />
      <xs:element minOccurs="1" maxOccurs="1" name="BoxLayout" nillable="true" type="BoxLayout" />
      <xs:element minOccurs="1" maxOccurs="1" name="GridLayout" nillable="true" type="GridLayout" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CircularLayout">
    <xs:complexContent mixed="false">
      <xs:extension base="AssetBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Children" type="ArrayOfCircularLayoutChild" />
        </xs:sequence>
        <xs:attribute name="MinDegreeOffset" type="xs:float" />
        <xs:attribute name="StartingDegrees" type="xs:float" />
        <xs:attribute name="Radius" type="xs:float" />
        <xs:attribute name="Margin" type="xs:float" />
        <xs:attribute name="Alpha" type="xs:float" />
        <xs:attribute name="ArrangementMode" type="ArrangementMode" />
        <xs:attribute name="AchxFile" type="xs:string" />
        <xs:attribute name="InitialAnimationChainName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssetBase" abstract="true">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Tag" type="xs:string" />
    <xs:attribute name="ScaleX" type="xs:float" />
    <xs:attribute name="ScaleY" type="xs:float" />
    <xs:attribute name="Visible" type="xs:boolean" />
    <xs:attribute name="RelativeX" type="xs:float" />
    <xs:attribute name="RelativeY" type="xs:float" />
    <xs:attribute name="RelativeZ" type="xs:float" />
  </xs:complexType>
  <xs:complexType name="SimpleLayout">
    <xs:complexContent mixed="false">
      <xs:extension base="AssetBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Children" type="ArrayOfSimpleLayoutChild" />
        </xs:sequence>
        <xs:attribute name="IsFullScreen" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfSimpleLayoutChild">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleLayoutChild" nillable="true" type="SimpleLayoutChild" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SimpleLayoutChild">
    <xs:complexContent mixed="false">
      <xs:extension base="LayoutableChildBase">
        <xs:attribute name="Origin" type="LayoutOrigin" />
        <xs:attribute name="HorizontalPercentFromLeft" type="xs:float" />
        <xs:attribute name="HorizontalPercentFromCenter" type="xs:float" />
        <xs:attribute name="HorizontalPercentFromRight" type="xs:float" />
        <xs:attribute name="HorizontalOffsetFromLeft" type="xs:float" />
        <xs:attribute name="HorizontalOffsetFromCenter" type="xs:float" />
        <xs:attribute name="HorizontalOffsetFromRight" type="xs:float" />
        <xs:attribute name="VerticalPercentFromTop" type="xs:float" />
        <xs:attribute name="VerticalPercentFromCenter" type="xs:float" />
        <xs:attribute name="VerticalPercentFromBottom" type="xs:float" />
        <xs:attribute name="VerticalOffsetFromTop" type="xs:float" />
        <xs:attribute name="VerticalOffsetFromCenter" type="xs:float" />
        <xs:attribute name="VerticalOffsetFromBottom" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LayoutableChildBase" abstract="true">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="LayoutableSprite" type="LayoutableSprite" />
        <xs:element minOccurs="0" maxOccurs="1" name="LayoutableText" type="LayoutableText" />
        <xs:element minOccurs="0" maxOccurs="1" name="Button" type="Button" />
        <xs:element minOccurs="0" maxOccurs="1" name="SimpleLayout" type="SimpleLayout" />
        <xs:element minOccurs="0" maxOccurs="1" name="GridLayout" type="GridLayout" />
        <xs:element minOccurs="0" maxOccurs="1" name="CircularLayout" type="CircularLayout" />
        <xs:element minOccurs="0" maxOccurs="1" name="BoxLayout" type="BoxLayout" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LayoutableSprite">
    <xs:complexContent mixed="false">
      <xs:extension base="AssetBase">
        <xs:attribute name="AchxName" type="xs:string" />
        <xs:attribute name="InitialAnimationChainName" type="xs:string" />
        <xs:attribute name="RelativeRotationZDegrees" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LayoutableText">
    <xs:complexContent mixed="false">
      <xs:extension base="AssetBase">
        <xs:attribute name="Text" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Button">
    <xs:complexContent mixed="false">
      <xs:extension base="SelectableAssetBase">
        <xs:attribute name="AchxFile" type="xs:string" />
        <xs:attribute name="DisabledAnimationChainName" type="xs:string" />
        <xs:attribute name="Text" type="xs:string" />
        <xs:attribute name="IgnoreCursorEvents" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SelectableAssetBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="AssetBase">
        <xs:attribute name="StandardAnimationChainName" type="xs:string" />
        <xs:attribute name="FocusedAnimationChainName" type="xs:string" />
        <xs:attribute name="PushedAnimationChainName" type="xs:string" />
        <xs:attribute name="PushedWithFocus" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BoxLayout">
    <xs:complexContent mixed="false">
      <xs:extension base="SelectableAssetBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Children" type="ArrayOfBoxLayoutChild" />
        </xs:sequence>
        <xs:attribute name="Spacing" type="xs:float" />
        <xs:attribute name="Margin" type="xs:float" />
        <xs:attribute name="Direction" type="LayoutDirection" />
        <xs:attribute name="BackgroundAlpha" type="xs:float" />
        <xs:attribute name="BackgroundAchxFile" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfBoxLayoutChild">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BoxLayoutChild" nillable="true" type="BoxLayoutChild" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BoxLayoutChild">
    <xs:complexContent mixed="false">
      <xs:extension base="LayoutableChildBase">
        <xs:attribute name="ItemAlignment" type="Alignment" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Alignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Inverse" />
      <xs:enumeration value="Centered" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LayoutDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Up" />
      <xs:enumeration value="Down" />
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GridLayout">
    <xs:complexContent mixed="false">
      <xs:extension base="SelectableAssetBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Children" type="ArrayOfGridLayoutChild" />
        </xs:sequence>
        <xs:attribute name="Spacing" type="xs:float" />
        <xs:attribute name="Margin" type="xs:float" />
        <xs:attribute name="Alpha" type="xs:float" />
        <xs:attribute name="BackgroundAchxFile" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfGridLayoutChild">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GridLayoutChild" nillable="true" type="GridLayoutChild" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GridLayoutChild">
    <xs:complexContent mixed="false">
      <xs:extension base="LayoutableChildBase">
        <xs:attribute name="RowIndex" type="xs:int" use="required" />
        <xs:attribute name="ColumnIndex" type="xs:int" use="required" />
        <xs:attribute name="HorizontalAlignment" type="HorizontalAlignments" />
        <xs:attribute name="VerticalAlignment" type="VerticalAlignments" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="HorizontalAlignments">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Left" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Right" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VerticalAlignments">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Top" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Bottom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CircularLayoutChild">
    <xs:complexContent mixed="false">
      <xs:extension base="LayoutableChildBase">
        <xs:attribute name="RadiusOffset" type="xs:float" />
        <xs:attribute name="DegreeOffset" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="LayoutOrigin">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Center" />
      <xs:enumeration value="TopLeft" />
      <xs:enumeration value="TopRight" />
      <xs:enumeration value="BottomLeft" />
      <xs:enumeration value="BottomRight" />
      <xs:enumeration value="BottomCenter" />
      <xs:enumeration value="TopCenter" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfCircularLayoutChild">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CircularLayoutChild" nillable="true" type="CircularLayoutChild" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ArrangementMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Clockwise" />
      <xs:enumeration value="EvenlySpaced" />
      <xs:enumeration value="Manual" />
      <xs:enumeration value="CounterClockwise" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfSelectableGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectableGroup" nillable="true" type="SelectableGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectableGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Controls" type="ArrayOfChoice2" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="SelectableGroupType" type="GroupType" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice2">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="SequentialSelectableGroupItem" nillable="true" type="SequentialGroupItem" />
      <xs:element minOccurs="1" maxOccurs="1" name="GridSelectableGroupItem" nillable="true" type="GridSelectableGroupItem" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="SequentialGroupItem">
    <xs:complexContent mixed="false">
      <xs:extension base="SelectableGroupItemBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SelectableGroupItemBase" abstract="true">
    <xs:attribute name="ControlName" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="GridSelectableGroupItem">
    <xs:complexContent mixed="false">
      <xs:extension base="SelectableGroupItemBase">
        <xs:attribute name="RowIndex" type="xs:int" use="required" />
        <xs:attribute name="ColumnIndex" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="GroupType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sequential" />
      <xs:enumeration value="Grid" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>